/* Media Queries */

@media (max-width: 1600px) {
  .box p {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  .facts .card h2,
  .facts .card i {
    font-size: 1rem;
  }
  .strengths {
    padding: 30px;
  }
}

@media (max-width: 1500px) {
  .box h1 {
    margin-bottom: 0px;
  }
}

@media (max-width: 1400px) {
  .inner-contact {
    width: 90%;
  }
}
@media (max-width: 1287px) {
  .box2 {
    padding: 20px;
  }
  .software-skills {
    height: 100%;
    padding: 50px 0;
  }
  .specialize-text {
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .contact-para {
    font-size: 1rem;
  }
  .inner-contact-box {
    width: 75%;
    left: 50px;
  }
}

@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
  .second-inner p {
    font-size: 1.5rem;
  }
  .second-inner {
    width: 100%;
    padding: 10px;
  }
  .inner-quote {
    padding: 0;
  }
  .more-inner {
    width: 100%;
  }
  .overlay {
    justify-content: center;
  }
  .skills {
    width: 100%;
    padding: 30px;
    line-height: 2;
    text-align: center;
    color: #fff;
  }
  .software-skills .card {
    padding: 10px;
    text-align: center;
    line-height: 1;
  }
  #specialize {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .specialize-text {
    text-align: center;
    width: 100%;
    margin-bottom: 10px !important;
  }
  .facts h2 {
    font-size: 1rem;
  }

  .inner-facts-content p {
    font-size: 1rem;
  }
  .circle {
    right: -120px;
  }
  .contact-para {
    font-size: 1rem;
  }
  .inner-contact-box {
    width: 85%;
  }
}

@media (max-width: 910px) {
  .box2 {
    margin-top: 100px;
  }
  .box {
    width: 100%;
  }
  .box h1 {
    font-size: 2rem;
  }
  .inner-about {
    padding: 50px;
  }
}

@media (max-width: 767px) {
  header ul li {
    margin-left: 20px;
  }

  .timeline-title {
    font-size: 40px;
  }
  .box2 {
    margin-top: 20px;
  }
  .inner-about .row {
    height: 100%;
    align-items: center;
  }
  .inner-about {
    height: 100%;
  }
  footer {
    flex-direction: column;
    padding: 70px;
  }
  footer ul li a {
    font-size: 0.7rem;
  }
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }

  .timeline:before {
    left: 20px;
  }
  .timeline li:nth-child(odd),
  .timeline li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline li:nth-child(odd):before,
  .timeline li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }
  .timeline li:nth-child(odd) .time,
  .timeline li:nth-child(even) .time {
    top: -30px !important;
    left: 50px !important;
    right: inherit !important;
  }

  .software-skills {
    height: 100%;
    padding: 50px 0;
  }
  .software-skills .card {
    margin-top: 50px;
  }
  .additional p {
    text-align: center;
  }
  .inner-contact {
    width: 100%;
    height: 100%;
  }
  .inner-contact-box {
    width: 100%;
    position: static;
  }
  .contact-para {
    font-size: 1.5rem;
  }
  .para-container {
    align-items: start;
    background-color: #fff;
  }
  .contact {
    height: 100%;
  }
}

@media (max-width: 644px) {
  .box {
    padding: 50px;
    line-height: 1.5;
  }
  .specialize-text {
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  header ul.active {
    position: absolute;
    left: 0;
    padding: 2rem;
    line-height: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px;
    background-color: #d0d0d0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
  }

  .skills {
    line-height: 1;
  }

  .title h1 {
    margin-top: 0px;
  }
  .fa-2x {
    font-size: 2rem !important;
  }
  .menu {
    display: block;
    width: 40px;
    height: 35px;
    background-repeat: no-repeat;
    background: url("menu.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(1);
  }

  .menu.active {
    width: 34px;
    height: 35px;
    background: url("close.png") !important;
    background-position: center;
  }

  .crown {
    transform: rotate(0deg) translateX(0px);
    padding-bottom: 0;
  }
  header {
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  header ul {
    display: none;
  }

  header ul.active {
    width: 100%;
    padding: 0px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 20px;
  }

  .title {
    transform: translateX(-30px);
  }
  header ul li {
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  .title {
    margin-left: 13px;
  }
  .inner-facts-content h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .landing-text {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .text h1 {
    font-size: 2rem;
  }
  .text p {
    font-size: 1.3rem;
  }
  .second-inner p {
    font-size: 1rem;
  }
  #specialize {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .flower {
    display: none;
  }
  .inner-quote {
    width: 100%;
  }
  .box {
    line-height: 1;
  }

  .contact {
    height: 100%;
  }
}

@media (max-width: 450px) {
  .skills p {
    font-size: 1rem;
    line-height: 2;
  }
  .skills h1 {
    font-size: 2rem;
  }

  .landing-text .row {
    width: 100% !important;
  }
  .inner-about .row .col-md-6 {
    padding: 0 !important;
  }
  .inner-about {
    padding: 20px;
  }
  .more-inner {
    padding: 20px;
  }
  .fas {
    font-size: 2rem !important;
  }
  .inner-facts-content {
    padding: 50px;
    line-height: 2;
    width: 100%;
  }
  .circle {
    width: 100px;
    height: 100px;
    right: -90px;
  }
  .contact .row {
    margin: 0 !important;
  }
  .contact .para-container {
    padding: 30px !important;
  }
  .contact-para {
    font-size: 1rem;
  }
  .inner-contact-box {
    box-shadow: none;
  }
  .additional h1 {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .skills p {
    font-size: 1rem;
    line-height: 1;
  }
  .box {
    padding: 30px;
  }
}

/* media query for height issue */
@media (max-height: 400px) and (min-width: 400px) {
  .text {
    padding: 0px;
  }

  .text h1 {
    font-size: 10vh;
  }

  .text p {
    font-size: 6vh;
  }
}

@media (min-width: 1500px) and (max-height: 767px) {
  .inner-contact-box {
    height: 300px;
    top: 20px;
    left: 150px;
  }
}
